{%extends 'index1.html' %}
{%load static %}
<head>
    <html lang="es">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>ARCADE - Inicio</title>
        <link rel="icon" type="image/x-icon" href="{% static 'img/icon.jpg' %}" />
</head>
{% block titulo %} Home {% endblock titulo %}
{% block header %}
<section class="hero">
    <h1>Home Blog</h1>
</section>
    {%for noticia in noticias %}
    <h3><a href="{% url 'noticias:detalle' noticia.pk %}">{{noticia.titulo}}</a></h3>
    <p>{{noticia.fecha}}</p>    
    <img src="{{noticia.imagen.url}}" alt="">
    {%endfor%}
{% endblock header %}