{% load static %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>ARCADE - {{noticia}}</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{% static 'img/icon.jpg' %}" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">     
            <div class="container">
                <a class="logo" href="{% url 'index'%}"><img class="logo" src="{% static 'img/logo.png' %}" alt="" width="auto" height="30"></a> 
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link" href="{% url 'index'%}">Inicio</a></li>
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'noticias:inicio' %}">Noticias</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'about'%}">Nosotros</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'usuarios:contact' %}">Contacto</a></li>
                        <!-- <li class="nav-item"><a class="nav-link active" aria-current="page" href="#">Blog</a></li> -->
                    </ul>
                    {% if user.is_authenticated %}
                    <li class="nav-item"><a class="btn btn-primary" href="{% url 'logout'%}">Cerrar sesión</a>                 
                    {% else %}
                    <li class="nav-item"><a class="btn btn-primary" href="{% url 'login'%}">Iniciar sesión</a>
                    <li class="nav-item"><a class="btn btn-primary" href="{% url 'usuarios:register'%}">Registrarse</a></li>
                    {% endif %}
                </div>
            </div>
        </nav>
        <!-- Page content-->
        <div class="container mt-5">
            <div class="row">
                <div class="col-lg-8">
                    <!-- Post content-->
                    <article>
                        <!-- Post header-->
                        <header class="mb-4">
                            <!-- Post title-->
                            <h1 class="fw-bolder mb-1">{{noticia}}</h1>
                            <!-- Post meta content-->
                            <div class="text-muted fst-italic mb-2">Publicado el {{noticia.fecha|date:"d M Y"}}</div>
                            <!-- Post categories-->
                            <a class="badge bg-secondary text-decoration-none link-light" href="{% url 'noticias:inicio'%}">{{noticia.categoria_noticias}}</a>
                        </header>
                        <!-- Preview image figure-->
                        <figure class="mb-4"><img class="img-fluid rounded" src="{{noticia.imagen.url}}" alt="..." width = "900" /></figure>
                        <!-- Post content-->
                        <section class="mb-5">
                            <p class="fs-5 mb-4 justificar-texto">{{ noticia.cuerpo|linebreaksbr|safe }}</p>
                        </section>
                    </article>
                    <!-- Comments section-->
                    <section class="mb-5">
                        <div class="card bg-light">
                            <div class="card-body">
                                <!-- Comment form-->
                                <form class="mb-4" action="{% url 'noticias:comentar' %}" method='POST'> {% csrf_token %} 
                                    <textarea class="form-control" name="comentario" rows="3" placeholder="Únete a la discusión y deja un comentario!"></textarea>
                                    <input type="text" name="id_noticia" value="{{ noticia.pk }}" hidden="">
                                    <p></p>
                                    <button class="btn btn-secondary" id="button-search" type="submit">Comentar</button>
                                    {% comment %} <input type="submit" class value="Comentar"> {% endcomment %}
                                </form>
                                <!-- Single comment-->
                                {% for com in comentarios %}
                                <div class="d-flex">
                                    <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                                    <div class="ms-3">
                                        <div class="fw-bold">{{com.usuario}}</div>
                                        <p>{{com.texto}}</p>
                                    </div>
                                </div>
                                {%endfor%}
                            </div> 
                        </div>
                    </section>
                </div>
            </div>
        </div>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; ARCADE 2023</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        {% comment %} <script src="js/scripts.js"></script> {% endcomment %}
    </body>
</html>